<hr>


# ML Lab 01 - Introduction to Machine Learning Libraries Part:01
<hr/>

By: **Virendra Singh** <br>
Linkedin: https://www.linkedin.com/in/singhviren7/


<hr/>

## Lab Overview  
### Objectives

- Execute some basic python code
- Import the following libraries into Python:
    - pandas
    - numpy
    - sklearn
    - seaborn
    - theano
    - scipy
- Import the following libraries into Python:
    - pytorch 
    - keras
    - tensorflow
- Load the IRIS TOY Dataset from sklearn
- Execute at least one line of code involving above-librarie.
- Find out the various options in Jupyter Notebook Markdown Documentation.

### Problem Definition
We have to execute some basic python codes for the normal exercise. We have to import the number of libraries which we will use in our further labs and in many projects. We have to show the basic use of these codes how the are going to be implemented. There are options in markdowm section we will explore those options and it's uses.

### Approach
Execute the basic python codes for the normal exercise for that we have to make the objective and then create some basic programming. Libraries will be imported using basic python code like 'import seaborn as sns'. using any one of these libraries few codes will be run for practice. There are various markdown options in Jupyter notebook which provide us smooth python coding in jupyter note book.

### Sections
For this lab, the sections are -
1. Lab Overview
1. Executing Basic Python Code
1. Libraries
    1. Installation 
    1. Numpy
    1. Pandas
    1. SKLearn
    1. Tensorflow etc.
1. Loading IRIS TOY dataset
1. Markdown options
1. Refrences
1. Conclusion

## Executing Basic Python Code

#### A Python Statement to input the name, storing it in a variable and print it.

In [1]:
name = input("Enter your name: ")
print("Name is:", name)

Enter your name: Charlie
Name is: Charlie

#### Creating a programm to find out while the pessangers are eligible or not to get working visa for Austrelia. We will take 4 major details through user input and then compair those details while they are are satisfied or not. After compairing the details further required action will be take ie. Visa will be graunted or not. User details required: Age,Salary, Maretial Status, Education Qualification. for getting visa approved age should be more than 30 years, Salary should be more than 300, should be married and educational Qualification required is PG.

In [2]:
age=int(input("Enter age: "))
salary=int(input("Enter the salary(in $): "))
m_status=str(input("Enter Material Status (Married/Unmarried: "))
edu=str(input("Enter Education (UG/PG): "))
if age>=30 and m_status=="Married" and edu=="PG" and salary>=300:
 print(" Verified, Welcome to Austrelia!")
elif age<30:
 print("Sorry, You are under age.")
elif m_status!="Married":
 print("Sorry, You are not Married.")
elif edu!= "PG":
 print("Sorry, You are Under Educated.")
elif salary<300:
 print("Sorry, Go and do some work first then think about visa.")

Enter age: 35
Enter the salary(in $): 400
Enter Material Status (Married/Unmarried: Married
Enter Education (UG/PG): PG
 Verified, Welcome to Austrelia!

#### Python program to print the list after removing even numbers from given list.

In [3]:
l=[5,54,7,6,4,2,45,76,43,98,29,8,30,29,40,76,77,10,19,39,48,58,50] #Given list
l1=[]
for i in l:
    if i%2!=0:
        l1.append(i)
print("List after removing even number:",l1)

List after removing even number: [5, 7, 45, 43, 29, 29, 77, 19, 39]

## Libraries

#### Importing the libraries in python.

In [10]:
import warnings
warnings.filterwarnings('ignore')

import pandas
import numpy
import sklearn
import seaborn
import theano
import scipy
import keras
import tensorflow

#### Loading the IRIS TOY Dataset from sklearn

In [5]:
import sklearn 
from sklearn import datasets
iris=datasets.load_iris()

In [6]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [7]:
iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [8]:
print(iris.DESCR)

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica

    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. topic:: References

   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...

#### Executing code using python libraries

In [9]:
#importing 
a=numpy.array([1,2,3])
print(a)

[1 2 3]

### Various options in Jupyter Notebook Markdown Documentation.

Text can be added to Jupyter Notebooks using Markdown cells, we can change the cell type to Markdown by using the Cell menu, the toolbar, or the key shortcut m. It's commomd can make text italic or bold by surrounding a block of text with a single or double # respectively. Markdown is a popular Markup language which is a writing standard for data scientists and analysts. Some basic and most used features are: Headings, Blockquotes, Symbols, Bold and Italic text, links, lines and tables.

### References
1. https://www.datacamp.com/community/tutorials
<hr/>

## Conclusion/Results

This assignment given us the basic idea about the ML/Analysis, libraries and datasets.